:root, .light, .light-theme {
  --violet-1: #fdfdff;
  --violet-2: #f7f8ff;
  --violet-3: #eef1ff;
  --violet-4: #e2e7ff;
  --violet-5: #d5dcff;
  --violet-6: #c5ceff;
  --violet-7: #afb9ff;
  --violet-8: #939cff;
  --violet-9: #2b2a74;
  --violet-10: #3b3e89;
  --violet-11: #5559b8;
  --violet-12: #26246e;

  --violet-a1: #0000ff02;
  --violet-a2: #0020ff08;
  --violet-a3: #002dff11;
  --violet-a4: #002cff1d;
  --violet-a5: #002bff2a;
  --violet-a6: #0028ff3a;
  --violet-a7: #0020ff50;
  --violet-a8: #0016ff6c;
  --violet-a9: #010059d5;
  --violet-a10: #000466c4;
  --violet-a11: #000695aa;
  --violet-a12: #020056db;

  --violet-contrast: #fff;
  --violet-surface: #f5f6ffcc;
  --violet-indicator: #2b2a74;
  --violet-track: #2b2a74;

  --gray-1: #fcfcff;
  --gray-2: #f8f9ff;
  --gray-3: #eeeffd;
  --gray-4: #e6e6f9;
  --gray-5: #dedef7;
  --gray-6: #d6d7f2;
  --gray-7: #cbcbed;
  --gray-8: #b7b7e4;
  --gray-9: #8989b4;
  --gray-10: #7f7fa7;
  --gray-11: #616182;
  --gray-12: #1e1d34;

  --gray-a1: #0000ff03;
  --gray-a2: #0025ff07;
  --gray-a3: #000fe111;
  --gray-a4: #0000c219;
  --gray-a5: #0000c221;
  --gray-a6: #0007af29;
  --gray-a7: #0000a734;
  --gray-a8: #0000a048;
  --gray-a9: #00005d76;
  --gray-a10: #00005080;
  --gray-a11: #0000369e;
  --gray-a12: #01001ae2;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8989b4;
  --gray-track: #8989b4;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --violet-1: oklch(99.4% 0.0032 278);
      --violet-2: oklch(98.1% 0.0116 278);
      --violet-3: oklch(96.1% 0.0219 278);
      --violet-4: oklch(93.5% 0.0441 278);
      --violet-5: oklch(90.4% 0.0657 278);
      --violet-6: oklch(86.5% 0.087 278);
      --violet-7: oklch(80.8% 0.1106 278);
      --violet-8: oklch(72.9% 0.1478 278);
      --violet-9: oklch(33.5% 0.1235 278);
      --violet-10: oklch(40.4% 0.1235 278);
      --violet-11: oklch(51% 0.1478 278);
      --violet-12: oklch(31.5% 0.1235 278);

      --violet-a1: color(display-p3 0.0196 0.0196 1 / 0.008);
      --violet-a2: color(display-p3 0.0196 0.1451 0.8784 / 0.032);
      --violet-a3: color(display-p3 0.0078 0.1294 0.9412 / 0.063);
      --violet-a4: color(display-p3 0.0039 0.1451 0.9294 / 0.11);
      --violet-a5: color(display-p3 0.0039 0.149 0.9294 / 0.161);
      --violet-a6: color(display-p3 0.0039 0.1294 0.9294 / 0.22);
      --violet-a7: color(display-p3 0.0039 0.1059 0.9373 / 0.306);
      --violet-a8: color(display-p3 0.0039 0.0706 0.9373 / 0.416);
      --violet-a9: color(display-p3 0.0039 0 0.3294 / 0.836);
      --violet-a10: color(display-p3 0 0.0118 0.3686 / 0.765);
      --violet-a11: color(display-p3 0 0.0196 0.5451 / 0.663);
      --violet-a12: color(display-p3 0.0078 0 0.3216 / 0.859);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.9608 0.9686 1 / 0.8);
      --violet-indicator: oklch(33.5% 0.1235 278);
      --violet-track: oklch(33.5% 0.1235 278);

      --gray-1: oklch(99.2% 0.0059 284.9);
      --gray-2: oklch(98.3% 0.0107 284.9);
      --gray-3: oklch(95.6% 0.0194 284.9);
      --gray-4: oklch(93.2% 0.0256 284.9);
      --gray-5: oklch(90.9% 0.0331 284.9);
      --gray-6: oklch(88.6% 0.038 284.9);
      --gray-7: oklch(85.4% 0.0468 284.9);
      --gray-8: oklch(79.4% 0.0634 284.9);
      --gray-9: oklch(64.6% 0.0639 284.9);
      --gray-10: oklch(61.1% 0.0607 284.9);
      --gray-11: oklch(50.5% 0.0525 284.9);
      --gray-12: oklch(24.5% 0.044 284.9);

      --gray-a1: color(display-p3 0.0235 0.0235 1 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.1608 0.8627 / 0.028);
      --gray-a3: color(display-p3 0.0078 0.0667 0.8275 / 0.067);
      --gray-a4: color(display-p3 0.0118 0.0118 0.6863 / 0.099);
      --gray-a5: color(display-p3 0.0078 0.0078 0.702 / 0.13);
      --gray-a6: color(display-p3 0.0039 0.0275 0.6353 / 0.161);
      --gray-a7: color(display-p3 0.0039 0.0039 0.6 / 0.204);
      --gray-a8: color(display-p3 0.0039 0.0039 0.5725 / 0.283);
      --gray-a9: color(display-p3 0.0039 0.0039 0.3412 / 0.463);
      --gray-a10: color(display-p3 0 0 0.2902 / 0.502);
      --gray-a11: color(display-p3 0 0 0.1922 / 0.62);
      --gray-a12: color(display-p3 0.0039 0 0.0941 / 0.887);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0639 284.9);
      --gray-track: oklch(64.6% 0.0639 284.9);
    }
  }
}

:root, .light, .light-theme, .radix-themes {
  --color-background: #fff;
}
